* {
  font-family: "Amiko", sans-serif;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  font-size: 16px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background: #13202C;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.navigation__title {
  font-family: "Abhaya Libre", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.navigation__site-language {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #FF0000;
  text-transform: uppercase;
  margin: 0 0 0 10px;
}

.social-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  margin: 0 30px;
}
.social-block__link {
  font-size: 24px;
  display: block;
  height: 50px;
  width: 50px;
  margin: 10px;
  background: #ffffff;
  text-align: center;
  line-height: 55px;
  border-radius: 100%;
}

.btn-menu {
  display: none;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #fff;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #13202c;
  z-index: 2;
}
.btn-menu .column1 {
  position: relative;
}
.btn-menu__column {
  width: 100px;
}
.btn-menu__link {
  height: 30px;
  line-height: 30px;
}
.btn-menu__link span {
  padding: 0 10px;
}
.btn-menu .close-link {
  position: relative;
  color: #656060;
  font-weight: bold;
  background: #ffffff;
  border-radius: 8px 0 0 8px;
}
.btn-menu .close-link span {
  display: none;
}
.btn-menu .close-link::before {
  position: absolute;
  content: "x";
}
.btn-menu__dropdown-link {
  display: none;
  position: absolute;
  width: 100%;
  top: 150%;
  z-index: 2;
  background: #13202c60;
  border-radius: 0 0 10px 10px;
}
.btn-menu__social-item {
  display: block;
  font-size: 24px;
  height: 60px;
  width: 60px;
  background: #ffffff;
  line-height: 60px;
  border-radius: 50%;
  margin: 15px auto;
}
.btn-menu__tape {
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.btn-menu__dropdown-tape {
  display: none;
  position: absolute;
  height: 94%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: #13202c60;
  margin: 20px 0;
  padding: 40px 10px;
}
.btn-menu__dropdown-box {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}
.btn-menu__close-dropdown-tape {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  line-height: 0.6;
  padding: 10px;
  margin: 0.3% 1%;
  border-radius: 0 0 0 20%;
  background: #ffffff80;
  color: #656060;
}
.btn-menu__tape-link {
  display: block;
  margin: 10px auto;
  max-width: 400px;
}
.btn-menu__tape-link img {
  width: 100%;
}
.btn-menu__lang {
  height: 30px;
  line-height: 30px;
}
.btn-menu__site-language {
  color: #ff0000;
  width: 100%;
  height: 100%;
}

.active-column {
  display: block;
}

.banner-info {
  max-width: 504px;
  margin: 28px auto 15px;
}
.banner-info__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}
.banner-info__triangle {
  display: none;
  position: absolute;
  height: 0;
  width: 0;
  right: 2%;
  top: 50%;
  transform: translateY(-80%);
  border: 5px solid transparent;
  border-right: 10px solid #13202C;
}
.banner-info__text {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-indent: 30px;
  text-align: left;
  color: #13202C;
}

.main__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FF0000;
  text-transform: uppercase;
  margin: 0 0 28px 0;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.left-side {
  width: 28.5714285714%;
}
.left-side__link {
  display: block;
  margin: 0 22px 22px;
}
.left-side__img {
  width: 100%;
}

.right-side {
  width: 28.5714285714%;
}
.right-side__link {
  display: block;
  margin: 0 22px 22px;
}
.right-side__img {
  width: 100%;
}

.center {
  width: 42.8571428571%;
}
.center-main-block {
  padding: 30px 20px;
  background: #13202C;
  border-radius: 10px;
  margin: 0 0 22px;
}
.center-main-block__title {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  line-height: 32px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
.center-main-block__date {
  color: #FF0000;
}
.center-main-block__media-img {
  display: block;
  width: 201px;
  height: 201px;
  border-radius: 50%;
  margin: 30px auto;
}
.center-main-block__media-video {
  width: 100%;
  height: 252px;
  margin: 30px auto;
  padding: 0 50px;
}
.center-main-block__text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-indent: 30px;
}
.center-main-block__text p {
  margin: 0 0 16px 0;
}
.center-main-block__link {
  display: block;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

.start {
  position: fixed;
  right: 2%;
  bottom: 0;
  padding: 10px 15px;
  margin: 10px;
  text-transform: uppercase;
  font-size: 20px;
  color: #363232;
  background: #fff5;
}

@media screen and (min-width: 1025px) {
  .navigation__title {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .blur {
    filter: blur(5px);
  }

  .left-side,
.right-side {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .social-block {
    display: none;
  }

  .navigation {
    display: block;
  }
  .navigation__site-language {
    display: none;
  }

  .btn-menu {
    display: flex;
  }

  .center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
  }
  .center-main-block {
    margin: 0 5px 10px;
    width: 45%;
  }
  .center-main-block__title {
    font-size: 18px;
  }
  .center-main-block__date {
    font-size: 22px;
  }

  .start {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .container-fluid {
    padding: 0 10px;
  }

  .center {
    display: block;
    width: 100%;
  }
  .center-main-block {
    margin: 0 0 10px;
    width: 100%;
  }
  .center-main-block__media-video {
    padding: 0 40px;
  }

  .banner-info__questions {
    margin: 0 10px;
  }
  .banner-info__title {
    font-size: 18px;
    display: block;
    width: 100%;
    background: #cacaca;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px 0;
  }
  .banner-info__triangle {
    display: block;
  }
  .banner-info__text {
    line-height: 1.2;
    padding: 0 20px;
  }
  .banner-info__text p {
    margin: 3px 0 10px;
  }

  .main__title {
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 540px) {
  .navigation {
    padding: 20px 0;
  }
  .navigation__title {
    font-size: 18px;
  }

  .btn-menu__dropdown-tape {
    width: 100%;
  }

  .main__title {
    font-size: 18px;
  }

  .center-main-block__title {
    font-size: 16px;
  }
  .center-main-block__date {
    font-size: 20px;
  }
  .center-main-block__media-video {
    padding: 0;
    margin: 10px 0;
  }
}