body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
header{
    width: 100%;
    position: fixed;
    z-index: 100;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.black{
    background: #121212;
}
.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -20px;
        padding: 20px;
		// .header__logo

		// &__logo {

		// }
}
// .menu {
    
// 		// .menu__link

// 		&__link {
// 		}
// }



//box of btn-burger
.btn-burger-menu{
    height: 40px;
    width: 40px;
    position: relative;
}



//first extend
%line-burger{
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: absolute;
  }
.btn-burger-menu{
      span{
        @extend %line-burger;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &::before{
            @extend %line-burger;
            content: "";
            top: -10px;
        }
        &::after{
            @extend %line-burger;
            content: "";
            top: 10px;
        }

      }
}


//BANNER-BLOCK VEESOFT  
.banner-block {
    padding: 120px 0 70px 0; 
    // .banner-block__info

    &__info {
        display: flex;
        align-items: center;
    }

    // .banner-block__text

    &__text {
        width: 60%;
        p{
            font-size: 36px;
            color: #ffffff;
            font-size: 90px;
            font-weight: lighter;
            text-transform: uppercase;

            &:nth-child(2){
                color: #FFC700;
                font-weight: normal;
            }
            &:last-child{
                font-weight: bold;
            }
        }
    }

    // .banner-block__image

    &__image {
        position: relative;
        background: #121212;
        z-index: 5;
        width: 40%;
    }
}


// line make up
.line-make-up{
    position: absolute;
    // width: 100%;
    // height: 100%;
}
.restangle-4{
    left: 100px/1300px*100%;
    top: 105px;
    
}
.restangle-5{
    left: 560px/1300px*100%;
    top: 280px;
}
.restangle-6{
    left: 0;
    top: 90%;
}

.portfolio{
    text-transform: uppercase;
    position: relative;
    text-align: right;
    margin: 10px 0 0 0;
    color: #ffffff;
    span{
        margin: 0 30px 0 0;
    }
    &__line{
        padding: 0 30px;
        transform: rotate(90deg);
    }
}







// section our studio

.our-studio {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 70px 0;
    // .our-studio__title

    &__title {
        position: relative;
        color: #ffffff;
        span{
            opacity: 0.1;
        }
    }
    &__title-line{
        position: absolute;
        left: 70%;
        top: 0;
        transform: rotate(90deg);
    }
    // .our-studio__image

    &__image-box{
        position: relative;
        margin: 100px auto;
       
    }
    &__left-bg{
        position: absolute;
        top: 50%;
        left: -70px;
    }
    &__right-bg{
        position: absolute;
        top: 20%;
        right: -70px;
    }
    &__img{
            width: 100%;
            position: relative;
            z-index: 2;
            
    }
}
.title-of-section {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 900;
}
